.card {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto;
  column-gap: 16px;
  background-color: var(--color-background-cards);
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  grid-column: 1/3;
  width: 100%;
  aspect-ratio: 1.7842;
  object-fit: cover;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 14px 12px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.card__name {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__label {
  margin: 0;
  color: var(--color-text-secondary);
  font-size: 11px;
  line-height: 13px;
}

.card__button {
  display: flex;
  margin: 14px 12px;
}
