.except-desktop {
  display: none;
}

@media screen and (max-width: 1024px) {
  .except-desktop {
    display: inherit;
  }
}

.link-hover-animation {
  transition: opacity var(--duration-hover-animation) ease;
}

.link-hover-animation:hover {
  opacity: var(--opacity-link-hover);
}
