@import url("../../vendor/normalize.css");
@import url("../../fonts/fonts.css");
@import url("./styles/tokens.css");

.app {
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  display: flex;
  flex-direction: column;
  min-height: 100svh;
  min-width: 320px;
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
}
