.header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  backdrop-filter: blur(100px) opacity(50%);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--header-height);
}
