.header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
}
