.section {
  width: var(--width-section);
  max-width: var(--max-width-page);
  margin-inline: auto;
}

@media screen and (max-width: 428px) {
  .section {
    width: var(--width-section-mobile);
  }
}
