.profile-form {
  display: grid;

  width: 100%;
  max-width: 410px;
  padding-inline: 30px;
  justify-content: stretch;

  margin-top: var(--header-height);
  min-height: calc(100svh - var(--header-height));
  grid-template-rows: 15fr auto 23fr;
}

.profile-form__title {
  margin: 70px 0 107px;
  align-self: end;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile-form__bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  margin: 0 0 70px;
  align-self: end;
}

.profile-form__error {
  margin: 0 0 4px;
  color: var(--color-warning);
  font-size: 11px;
  line-height: 14px;
}

.profile-form__link {
  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 768px) {
  .profile-form {
    grid-template-rows: 345fr auto 511fr;
  }

  .profile-form__title {
    margin-bottom: 80px;
  }

  .profile-form__bottom {
    margin: 194px 0 0;
    align-self: normal;
  }
}

@media screen and (max-width: 428px) {
  .profile-form {
    grid-template-rows: auto auto 1fr;
  }

  .profile-form__title {
    margin-bottom: 64px;
  }

  .profile-form__bottom {
    margin: 0 0 40px;
    align-self: end;
  }
}
