.navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navigation__sections {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
  gap: 16px;
}

.navigation__link {
  display: block;
  font-size: 13px;
}

.navigation__profile {
  font-size: 13px;
  min-width: 64px;
  text-align: right;
  padding-right: 36px;
  padding-block: 10px;
  background-image: url("images/profile.svg");
  background-repeat: no-repeat;
  background-position: right;
}

@media screen and (max-width: 1024px) {
  .navigation {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 520px;
    width: 100%;
    min-height: 100svh;
    background-color: var(--color-background-primary);
    padding-block: 155px 88px;
    transform: translateX(100%);
    transition: transform 0.5s;
  }

  .navigation_is-menu-open {
    transform: translateX(0);
  }

  .navigation__sections {
    justify-content: flex-start;
    flex-direction: column;
    gap: 22px;
  }

  .navigation__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-block: 4px;
    border-bottom: 2px solid transparent;
  }

  .navigation__link_is-active {
    border-bottom-color: var(--color-text-primary);
  }
}

@media screen and (max-width: 428px) {
  .navigation__sections {
    gap: 15px;
  }

  .navigation_is-logged-in {
    padding-block: 140px 44px;
  }
}
