.like-button {
  appearance: none;
  margin: 0;
  --size: 16px;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  background-color: transparent;
  border: 2px solid var(--color-text-primary);
  transition: background-color var(--duration-animation-default);
  cursor: pointer;
}

.like-button:checked {
  background-color: var(--color-highlight);
}

.like-button:hover {
  border-color: var(--color-text-primary-translucent);
}
